
section{
    height:auto;
    max-width: 1216px;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    flex-direction: row;
}
.form-pages {
    width: 30%;
    flex-direction: column;
}

.hideElement{
    display:none !important;
}

.shipping-page{
    min-width: 1216px;
    flex-direction: column;
}

.header__shipping{
    width: 100%;
}