
section{
    height:auto;
    max-width: 1216px;
    background-color: lightblue;
    border: 2px solid purple;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    flex-direction: row;
}
.form-pages {
    flex-direction: column;
}

.hideSection{
    display:none;
}
