
section{
    height:auto;
    max-width: 1216px;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    flex-direction: row;
}
.form-pages {
    flex-direction: column;
}


.hideElement{
    display:none;
}
