/*Main Page Style*/

/*RESET*/
@import './reset.css';

/*TEXT FORMAT*/
@import './textFormat.css';

/* SECTION FORMAT */
@import './section_style.css';

/*IMG INPUT*/

@import './image_input.css';

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Add font family*/
}

.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    background-color: lightgrey;
    height: 100px;
    width: 100%;
}

.productImagesContainer{
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 70%;
    position: sticky;
    top: 0;
}

.productViewMiniaturesContainer {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.miniatureProductImage {
    width: 100%;
    border: 'none';
    margin-bottom: 15px;
}

.miniatureProductImageSelected {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 15px;
}

.mainProductImage {
    width: 80%;
    height: max-content;
    object-fit: contain;
    border: 1px solid black;
    cursor:zoom-in;
}

.productInformationSelection{
    margin-left: 10rem;
    width: 50%;
    display: block;
    height: 1500px;
}

.productColorSelectorContainer{
    display: flex;
    align-items: center;
    justify-content: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.productColorSelectorImage {
    width: 5rem;
    cursor: pointer;
    border: 'none';
}

.productColorSelectorImageSelected {
    width: 5rem;
    cursor: pointer;
    border: 1px solid black;
}

/*Change*/
@media screen and (min-width: 1280px){
.product-page{
    margin-left: auto;
    margin-right: auto;
    max-width: 1216px;
}}

@media screen and (max-width: 768px){
.productViewMiniaturesContainer{
    display: none;
}
.mainProductImage{
    width: 100%;
}

}
/* PROFILE SECTION STARTS HERE */
.input {
    display:flex;
    width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
    background-color: rgba(216, 216, 201, 0.719);
  }
  .requiredInput{
    display:flex;
    border-color: red;
    background-color: rgba(255, 17, 0, 0.377);
  }
  .correctInput{
    display:flex;
    border-color: rgb(17, 243, 17);
    background-color: rgba(149, 247, 2, 0.39);
  }
  .input-error{
    display: none;
  }

form{
display: flex;
flex-direction: column;
gap: 20px;
}

.label {
display: block;
font-weight: 700;
padding: 10px;
cursor: pointer;
}


.input:focus {
border: 3px solid #0075FF;
outline: none;
box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.errorMsg{
font-size: 1.5rem;
margin-bottom: 0;
}

/*FOOTER BUTTONS*/

footer {
display: flex;
justify-content: flex-end;
padding: 3rem;
margin: auto;
height: 100px;
width: 100%;
}

button {
background-color: black;
color: #fff;
height: 45px;
width: 100px;
font-weight: bold;
border-radius: 3px;
cursor: pointer;
transition: .1s ease all;
}

button:hover {
box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}